@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url("https://fonts.googleapis.com/css?family=Raleway:900&display=swap");

body {
    margin: 0px;
    background: #fff;
}

.flt-left{
    padding: 10px;
    width: 100%;
}

#container {
    position: absolute;
    margin: auto;
    width: 100vw;
    height: 80pt;
    top: 0;
    bottom: 0;
    filter: url(#threshold) blur(0.6px);
}

#text1,
#text2 {
    position: absolute;
    width: 100%;
    display: inline-block;
    font-family: "Raleway", sans-serif;
    font-size: 80pt;
    text-align: center;
    user-select: none;
    color:#4caa6e;
}
.bouton{
	text-transform: uppercase;
    font-weight: 800;
    color: #fff;
    border-radius: 100px;
    border-color: rgb(4, 170, 109);
    height: 50px;
    width: 150px;
    transition: box-shadow 0.1s linear;
    background: transparent;
    color: #151516;
    outline: 0;
}
.bouton:hover{
	transition: box-shadow 0.1s linear;
	text-transform: uppercase;
	font-weight: 800;
	color: #fff;
	border-radius: 100px;
	border: 0px;
	background-color: rgb(4, 170, 109);
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
	cursor: pointer;
}
.bouton:active{
	text-transform: uppercase;
	font-weight: 800;
	color: #fff;
	border-radius: 100px;
	border: 0px;
	background-color: rgb(4, 170, 109);
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
	height: 45px;
	width: 145px;
}

select {
    margin: 50px;
    width: 500px;
    padding: 15px 35px 15px 15px;
    font-size: 16px;
    border: 1px solid #CCC;
    height: 50px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url('file:///assets/logo.png') 96% / 9% no-repeat #EEE;
  }
  
  
  /* CAUTION: Internet Explorer hackery ahead */
  
  
  select::-ms-expand {
      display: none; /* Remove default arrow in Internet Explorer 10 and 11 */
  }
  
  /* Target Internet Explorer 9 to undo the custom arrow */
  @media screen and (min-width:0\0) {
      select {
          background: none\9;
          padding: 5px\9;
      }
  }

  .header{
    font-size: 32px;
    font-family: 'Roboto';
    font-weight: bold;
  }

  .header-value{
    font-size: 30px;
    font-family: 'Roboto';
    color: brown;
  }

.deviceName{
    margin: 0;
}

.m15{
    margin-left: 15px;
}